---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
sitemap: false
robots: noindex
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.sitemapEntries %}
  <url>
    <loc>{{ entry.url | absoluteUrl(site.seo.siteUrl) }}</loc>
    <lastmod>{{ buildDate }}</lastmod>
  </url>
{%- endfor %}
</urlset>
